body{
    background-image: linear-gradient(to top,#EDF2F4,#CCDAE0 );
}

header{
    text-align: center;
    
}

ul{
    list-style-type: none;
}

h1{
    color:#EF233C;
    font-size: 50px;
    font-weight: bolder;
    font-family: impact;

    
}

.Bannière{
    height: 200px;
    width: 800px;
}

h3{
    color:#2B2D42 ;
    font-size: 30px;
    text-decoration:dashed underline  ;

}

.article{
    height: 100px;
    width: 200px;
    display: block;
  width: 30%;
  margin: auto;
  border: 2px #8D99AE solid;
    
}

article{
    border: 1px solid;
}

footer{
    text-align: right;
}

a:link{
    color: #D90429 ;
}
a:visited{
    color:gray;
}
a:hover{
    color: #2B2D42;
}
